body {
  padding-top: 120px;
  font-family: "Helvetica Neue", Sans-serif;
}
h2 {
  color: grey;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 20px;
  text-align: center;
}
.social-icons {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}
.social-icons li {
  display: inline;
  margin-right: 20px;
}
